@page "/pengaduan"

@using PengaduanMasyarakatApp.Shared.Models;
@using System.Globalization;

@inject IJSRuntime JSRuntime;

@inject TooltipService tooltipService
<div class="row">
    <div class="col-md-4">

        <RadzenTemplateForm TItem="PengaduanViewModel" Data=@data Submit=@Save>

            <div class="row" style="margin-top:5px">
                <div class="col-md-12">
                    <RadzenCard Style="width:100%">


                        <div class="row">
                            <div class="col-md-12">


                                <div class="row">
                                    <RadzenLabel Text="Judul" Style="font-weight:bold"></RadzenLabel>
                                </div>

                                <div class="row">
                                    <RadzenTextBox Name="JudulLaporan" @bind-Value="data.JudulLaporan" Style="width:100%;display: block"></RadzenTextBox>
                                </div>

                                <div class="row">
                                    <RadzenRequiredValidator Component="JudulLaporan" Text="Judul laporan harus diisi" Popup=true Style="position: absolute" />
                                </div>

                                <div class="row">
                                    <RadzenLabel Text="Pengaduan" Style="font-weight:bold"></RadzenLabel>
                                </div>

                                <div class="row">
                                    <RadzenTextArea Name="Pengaduan" @bind-Value="@data.Laporan" Placeholder="Ketik pengaduan di sini" Rows="5" Style="width:100%;height:100px"></RadzenTextArea>
                                </div>

                                <div class="row">
                                    <RadzenRequiredValidator Component="Pengaduan" Text="Judul laporan harus diisi" Popup=true Style="position: absolute;z-index:2" />
                                </div>

                                <div class="row">
                                    <RadzenLabel Text="Foto" Style="font-weight:bold"></RadzenLabel>
                                </div>

                                <div class="row">
                                    <RadzenFileInput TValue="string" @bind-Value="@data.Foto" Style="width:400px;height:250px" ChooseText="Pilih"></RadzenFileInput>
                                </div>
                            </div>


                        </div>

                    </RadzenCard>
                </div>


            </div>


            <div class="row" style="margin-top:5px">
                <div class="col-md-12">
                    <div class="col-md-12">
                        <div class="row">

                            <RadzenButton Text="Batal" Icon="cancel" Click="Cancel" ButtonStyle="ButtonStyle.Danger" Style="margin-right:5px"></RadzenButton>
                            <RadzenButton Text="Simpan" Icon="save" ButtonType="ButtonType.Submit" ButtonStyle="ButtonStyle.Primary"></RadzenButton>
                        </div>
                    </div>
                </div>

            </div>
        </RadzenTemplateForm>

    </div>

    <div class="col-md-8" style="margin-top:5px">

        <div class="row">

            <RadzenDropDown AllowClear="true"
                            TValue="string"
                            @bind-Value="filter.StatusId"
                            Data="@(statuss?.Select(r => new { Id = r.Id, NamaStatus = r.NamaStatus }).Distinct())"
                            TextProperty="NamaStatus" ValueProperty="Id"
                            FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                            AllowFiltering="true"
                            Placeholder="Pilih Status"></RadzenDropDown>


        </div>

        <div class="row" style="margin-top:5px">

            <RadzenGrid TItem="PengaduanViewModel" Data="@datas"
                        AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                        AllowPaging="true" PageSize="5"
                        AllowSorting="true" EditMode="DataGridEditMode.Single"
                        ColumnWidth="100px">

                <Columns>

                    <RadzenGridColumn TItem="PengaduanViewModel"
                                      Property="Id" Title="ID" Visible="false" />

                    <RadzenGridColumn TItem="PengaduanViewModel"
                                      Property="TglPengaduan" Title="TglPengaduan"
                                      Width="60px">

                        <Template Context="data">

                            @data.TglPengaduan.ToString("yyyy-MM-dd HH:mm", CultureInfo.InvariantCulture)
                        </Template>
                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="PengaduanViewModel"
                                      Property="NIK" Title="NIK" Width="35px" Filterable="false" Visible="false" />

                    <RadzenGridColumn TItem="PengaduanViewModel"
                                      Property="JudulLaporan" Title="JudulLaporan">

                        <Template Context="data">

                            <p style="white-space:pre-wrap">@data.JudulLaporan</p>

                        </Template>
                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="PengaduanViewModel"
                                      Property="Status" Title="Status" Width="100px" />

                    <RadzenGridColumn TItem="PengaduanViewModel" Bubble="false" Filterable="false"
                                      Sortable="false" TextAlign="TextAlign.Center" Width="25px">

                        <Template Context="pengaduan">
                            <RadzenButton Icon="info" 
                                          MouseEnter="@(args => ShowTooltip(args,"Lihat tanggapan", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Click="@(args=>LihatTanggapan(pengaduan))" 
                                          Size="ButtonSize.Small" 
                                          ButtonStyle="ButtonStyle.Success"></RadzenButton>
                        </Template>


                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="PengaduanViewModel" Bubble="false" Filterable="false"
                                      Sortable="false" TextAlign="TextAlign.Center" Width="25px">

                        <Template Context="penjualan">
                            <RadzenButton Icon="edit" 
                                          MouseEnter="@(args => ShowTooltip(args,"Edit", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Size="ButtonSize.Small" 
                                          ButtonStyle="ButtonStyle.Secondary" 
                                          Click="@(args=>Edit(penjualan))"></RadzenButton>
                        </Template>


                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="PengaduanViewModel" Bubble="false" Filterable="false"
                                      Sortable="false" TextAlign="TextAlign.Center" Width="25px">

                        <Template Context="pengaduan">
                            <RadzenButton Icon="close" 
                                          MouseEnter="@(args => ShowTooltip(args,"Delete", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Size="ButtonSize.Small" 
                                          ButtonStyle="ButtonStyle.Danger"
                                          Click="@(args=>Delete(pengaduan))"></RadzenButton>
                        </Template>


                    </RadzenGridColumn>

                    <RadzenGridColumn TItem="PengaduanViewModel" Bubble="false" Filterable="false"
                                      Sortable="false" TextAlign="TextAlign.Center" Width="25px">

                        <Template Context="pengaduan">
                            <RadzenButton Icon="print"
                                          MouseEnter="@(args => ShowTooltip(args,"Cetak", new TooltipOptions(){ Position = TooltipPosition.Left }))"
                                          Size="ButtonSize.Small"
                                          ButtonStyle="ButtonStyle.Light"
                                          Click="@(args=>Cetak(pengaduan))">

                            </RadzenButton>
                        </Template>



                    </RadzenGridColumn>

                </Columns>
            </RadzenGrid>
        </div>

        <div class="row" style="margin-top:5px">
            <RadzenDatePicker Placeholder="TglAwal" TValue="DateTime?" @bind-Value="filter.TglAwal" DateFormat="dd MMMM yyyy"></RadzenDatePicker>
            <RadzenDatePicker Placeholder="TglAkhir" TValue="DateTime?" @bind-Value="filter.TglAwal" DateFormat="dd MMMM yyyy"></RadzenDatePicker>
            <RadzenTextBox Placeholder="JudulLaporan" @bind-Value="filter.JudulLaporan"></RadzenTextBox>
            <RadzenTextBox Placeholder="JmlData" @bind-Value="filter.Top" Style="width:5%;margin-right:5px"></RadzenTextBox>

            <RadzenButton Icon="autorenew" Click="Get"></RadzenButton>

        </div>
    </div>
</div>





@code {

    private string a = "fetchdata";
    public DateTime TglNow
    {
        get
        {

            return DateTime.Now;

        }

        set
        {

        }
    }

    void ShowTooltip(ElementReference elementReference, string text, TooltipOptions options = null)
        => tooltipService.Open(elementReference, text, options);

    
}
